
@media (max-width: 576px) {

    #pedidos {
      padding: 10px; 
    }
  
    .form-label {
      font-size: 14px; 
    }
  
    .form-control {
      width: 100%;
    }
  
    .table {
      font-size: 14px; 
    }
  }
  
 
  @media (min-width: 577px) and (max-width: 992px) {
  
    #pedidos {
      padding: 20px; 
    }
  
    .table {
      font-size: 16px; 
    }
  }
  

  @media (min-width: 993px) {
  
    #pedidos {
      padding: 30px; 
    }
  
    .table {
      font-size: 18px; 
    }
  }
  